body {
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  color: #5b446a;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: white;
  padding: 40px;
  box-shadow: 17px 1px 27px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 13px 0;
  padding: 25px;
  border-bottom: 1px dashed gainsboro;
}
.city:last-child {
  border: none;
}
.first {
  margin-left: -22px;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.second {
  margin-left: -22px;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.time {
  font-size: 45px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-right: -25px;
}
small {
  font-size: 25px;
}

.date {
  color: #5b446a;
}
select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 17px;
  text-shadow: 20px;
}

h2 {
  margin: 0 0 10px;
}
a {
  color: black;
}

footer {
  text-align: center;
  font-size: 18px;
  color: #906387;
}
